<div class="page-header">
  <h3>About Us</h3>
</div>

<div class="container">   
    <div class="row">
        <div class="col-md-6 col-md-offset-0">
            <!-- Nav tabs category -->
            <ul class="nav nav-tabs faq-cat-tabs">
                <li class="active"><a href="#faq-cat-1" data-toggle="tab">Product FAQ</a></li>
                <li><a href="#faq-cat-2" data-toggle="tab">Company FAQ</a></li>
            </ul>
    
            <!-- Tab panes -->
            <div class="tab-content faq-cat-content">
                <div class="tab-pane active in fade" id="faq-cat-1">
                    <div class="panel-group" id="accordion-cat-1">
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                                    <h4 class="panel-title">
                                        How do I use Destination Concierge?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Log in, pick the city you're traveling to, pick an expert, and ask away- it's that easy!
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                                    <h4 class="panel-title">
                                        Do you have an app?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Our web app is mobile responsive, and we are planning to soon build out a native mobile app for iOS and Android.
                                </div>
                            </div>
                        </div>

						<div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-3">
                                    <h4 class="panel-title">
                                        Who are your experts?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Once the company gets up and going, our experts will be users just like you who are willing to answer questions about their hometown. While we're getting started, the team at Destintion Concierge may play the role of a local expert to simulate the experience. 
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-4">
                                    <h4 class="panel-title">
                                        Can I become an expert?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Sure! If you'd like to be an expert, just send us an email with your Destination Concierge email address and tell us where you're from! <a href="mailto:destinationconciergetips@gmail.com?subject=I want to become a Destination Concierge Expert!">
   									Email Us</a> 
                                </div>
                            </div>
                        </div>
						
						<div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-5">
                                    <h4 class="panel-title">
                                        If I send a tip to an expert, where is that money really going?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Thanks for trying out our tip functionality! Once the company gets out of prototype testing, that money will flow to your expert as a 'Thank You'. For now, any tips sent will be donated to charity.
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <div class="tab-pane fade" id="faq-cat-2">
                    <div class="panel-group" id="accordion-cat-2">
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-1">
                                    <h4 class="panel-title">
                                        Is this a legit company?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-2-sub-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    We're getting there! This is an initial prototype based off of an idea developed during the New Venture Discovery class at Kellogg. We hope to use this as a launching point for building a more full featured product.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-2" href="#faq-cat-2-sub-2">
                                    <h4 class="panel-title">
                                        Who is working on this?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-2-sub-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Right now, Eric Snyder and Mike Hazelrig (two Kellogg students) are doing most of the work in building out this idea.
                                    Please send us feedback/questions/comments!<br>
                                    <a href="mailto:esnyder2014@kellogg.northwestern.edu?subject=Feedback for Eric on Destination Concierge">Email Eric</a>
                                    <br>
                                    <a href="mailto:mhazelrig2014@kellogg.northwestern.edu?subject=Feedback for Mike on Destination Concierge">Email Mike</a>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>