<div class="page-header">
  <h3>What city are you traveling to?</h3>
</div>

<%= form_tag(users_url, method: 'get', class: 'form-horizontal') do %>
 

  <div class="form-group">
    <%= label_tag nil, nil, class: 'col-md-0 control-label' %>
    <div class="col-md-6">

    	<select <%= text_field_tag :expertcity, nil, class: 'form-control' %>
        <option value="New York">New York</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="Chicago">Chicago</option>
        <option value="San Francisco">San Francisco</option>
        <option value="Houston">Houston</option>
        <option value="Philadelphia">Philadelphia</option>
        <option value="Miami">Miami</option>
        <option value="San Diego">San Diego</option>
        <option value="Dallas">Dallas</option>
        <option value="Austin">Austin</option>
       </select>
    </div>
  </div>



    <div class="form-group">
    <div class="col-md-offset-0 col-md-6">
      <%= submit_tag "See Experts!", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>


<a href="http://tinypic.com?ref=121pw83" target="_blank"><img src="http://i62.tinypic.com/121pw83.jpg" border="0" alt="Image and video hosting by TinyPic"></a>